.about {
    display: flex;
    padding: 5% 0%;
    margin: 0 5%;
    border-bottom: 1px solid white;
    z-index: 30;
}

.about-heading {
    display: inline-block;
}

.about-left, .about-right {
    height: 60vh;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-left {
    width: 30%;
}

.about-right {
    width: 70%;
    flex-direction: column;
    letter-spacing: 2px;
    p {
        padding: 0 10%;
        line-height: 1.55;
    }
}
