.footer {
    bottom: 0;
    background: linear-gradient(to bottom, #000000, #313232);
    color: white;
    text-align: center;
    padding: 10px 0;
    margin: 0;
  
    p {
      margin: 0;
    }
  }

  @media (max-width: $large-screen) {

  }
  
  @media (max-width: $medium-screen) {
      .footer {
        font-size: 0.9rem;
      }
  }
  
  @media (max-width: $small-screen) {
      .footer {
        font-size: 0.6rem;
      }
  }