header {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)), url(../assets/images/increase-iman.jpg);
    height: 100vh;
    background-size: cover;
    padding: 1px;
    position: relative;
}

.heading-text {
    font-size: 3.0rem;
    color: $white;
    text-shadow: 2px 3px 1px $black;
    text-align: center;
    border-bottom: 3px solid white;
    border-color: $gold;
    display: inline-block;
    margin: 0 auto;
    padding: 2%;
    padding-bottom: 2px;
    text-transform: uppercase;
}

.header-text-div {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quotes {
    font-family: $body-font;
    font-size: 1.5rem;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 5%;
    border-bottom: 1px solid white;
}

.charity {
    color: $gold;
}

.hide {
    opacity: 0;
}

.donate-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.donate {
    width: 200px;
    height: 60px;
    background-color: transparent;
    color: #000;
    border: 0;
    font-weight: bold;
    font-size: 70.25%;
    text-transform: uppercase;
    letter-spacing: 4px;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    border: 2px solid $gold;
    transition: 0.8s ease;
    position: sticky;
    position: -webkit-sticky;
    top: 4em;
}

.donate:hover,
.donate:focus {
    outline: 0;
    background-color: #ffcc00;
    color: #000;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: 0.2s ease;
}