.prayerTimes {
    display: inline-block;
    padding: 1% 15%;
    border: 2px solid $gold;
    font-size: 1.4rem;
}

.prayerTimesWrapper {
    display: initial;
    width: 95%;
    margin-bottom: 6%;
    text-align: center;
}